<% layout('layouts/boilerplate') %>

<h1>All Campgrounds</h1>
<a href="/campgrounds/new">New Campground</a>

<ul>
    <%for (const camp of campgrounds) {%>
    <li><a href="/campgrounds/<%=camp.id%>"><%=camp.title%></a></li>
    <%}%>
</ul>