<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center mb-3">Logout</h1>
    <div class="col-6 offset-3 mt-3">
        <form action="/logout" method="post">
            <div class="mb-3">
                <div class="mb-3">Are you sure you want to logout?</div>
                    <button type="submit" class="btn btn-success text-light ">
                        Logout
                    </button>
  
            </div>
        </form>
    </div>
</div>